.App {
    padding: 20px;
    height: 100%;
}

.Sidebar {
    position: fixed;
    z-index: 1;
}

.Home {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}