.App {
    padding: 20px;
    max-width: 100%;
}

.Sidebar {
    position: sticky;
    z-index: 1;
}

.Home {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("img/Home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden
}

.PaymentsCard {
    width: 85%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}